/packages/NUnit.3.12.0/.signature.p7s
/packages/NUnit.3.12.0/build/NUnit.props
/packages/NUnit.3.12.0/CHANGES.md
/packages/NUnit.3.12.0/lib/net35/nunit.framework.dll
/packages/NUnit.3.12.0/lib/net35/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/net35/nunit.framework.xml
/packages/NUnit.3.12.0/lib/net40/nunit.framework.dll
/packages/NUnit.3.12.0/lib/net40/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/net40/nunit.framework.xml
/packages/NUnit.3.12.0/lib/net45/nunit.framework.dll
/packages/NUnit.3.12.0/lib/net45/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/net45/nunit.framework.xml
/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.dll
/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.xml
/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.dll
/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.xml
/packages/NUnit.3.12.0/LICENSE.txt
/packages/NUnit.3.12.0/NOTICES.txt
/packages/NUnit.3.12.0/NUnit.3.12.0.nupkg
/packages/NUnit3TestAdapter.3.17.0/.signature.p7s
/packages/NUnit3TestAdapter.3.17.0/build/net35/nunit.engine.api.dll
/packages/NUnit3TestAdapter.3.17.0/build/net35/nunit.engine.core.dll
/packages/NUnit3TestAdapter.3.17.0/build/net35/nunit.engine.dll
/packages/NUnit3TestAdapter.3.17.0/build/net35/NUnit3.TestAdapter.dll
/packages/NUnit3TestAdapter.3.17.0/build/net35/NUnit3.TestAdapter.pdb
/packages/NUnit3TestAdapter.3.17.0/build/net35/NUnit3TestAdapter.props
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/nunit.engine.api.dll
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/nunit.engine.core.dll
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/nunit.engine.dll
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/NUnit3.TestAdapter.dll
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/NUnit3.TestAdapter.pdb
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/NUnit3TestAdapter.props
/packages/NUnit3TestAdapter.3.17.0/LICENSE.txt
/packages/NUnit3TestAdapter.3.17.0/NUnit3TestAdapter.3.17.0.nupkg
